gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
!/local.properties.example
GeneratedPluginRegistrant.java
.cxx/
*.hprof
hs_err_pid*
replay_pid*

# Keystores and credentials
key.properties
!key.properties.example
**/*.keystore
**/*.jks

# Google Services
google-services.json
!google-services.json.example
